#header-profile {
  background-color: #147298;
  height: 110px;
  width: 100%;
}
@media (max-width: 600px) {
  #header-profile {
    height: 90px;
  }
}
@media (max-width: 450px) {
  #header-profile {
    height: 80px;
  }
}
#header-profile #header-left_site {
  display: inline-block;
  height: 100%;
  margin-left: 30px;
}
@media (max-width: 600px) {
  #header-profile #header-left_site {
    margin-left: 15px;
  }
}
#header-profile a {
  text-decoration: none;
}
#header-profile img {
  width: 25px;
  height: 25px;
  position: relative;
  top: 30%;
}
@media (max-width: 600px) {
  #header-profile img {
    width: 15px;
    height: 15px;
  }
}
@media (max-width: 450px) {
  #header-profile img {
    width: 10px;
    height: 10px;
  }
}
#header-profile h1 {
  display: inline;
  color: #fff;
  margin-left: 20px;
  position: relative;
  top: 30%;
}
@media (max-width: 600px) {
  #header-profile h1 {
    font-size: 22px;
    margin-left: 15px;
  }
}
@media (max-width: 450px) {
  #header-profile h1 {
    font-size: 14px;
    margin-left: 10px;
  }
}
#header-profile #header-mainInfo {
  width: 220px;
  display: flex;
  justify-content: center;
  float: right;
  flex-wrap: wrap;
  color: #fff;
  position: relative;
  top: 20%;
  right: 5%;
}
@media (max-width: 600px) {
  #header-profile #header-mainInfo {
    width: 150px;
  }
}
@media (max-width: 450px) {
  #header-profile #header-mainInfo {
    width: 120px;
  }
}
#header-profile #header-mainInfo p {
  font-size: 18px;
  font-weight: bold;
  margin: 5px;
}
@media (max-width: 600px) {
  #header-profile #header-mainInfo p {
    font-size: 12px;
    margin: 3px;
  }
}
@media (max-width: 450px) {
  #header-profile #header-mainInfo p {
    font-size: 10px;
  }
}

#infoProfile {
  display: flex;
  width: 86%;
  height: 74%;
  position: absolute;
  left: 7%;
  top: 170px;
  background-color: #fff;
  box-shadow: 14px 16px 9px -4px rgba(34, 60, 80, 0.34);
}
@media (max-width: 700px) {
  #infoProfile {
    flex-direction: column;
    height: 900px;
  }
}
@media (max-width: 600px) {
  #infoProfile {
    top: 130px;
  }
}
@media (max-width: 450px) {
  #infoProfile {
    top: 100px;
  }
}
#infoProfile #editPhoto {
  width: 35%;
  height: 100%;
  display: flex;
  flex-direction: column;
}
@media (max-width: 700px) {
  #infoProfile #editPhoto {
    width: 100%;
    height: 50%;
    display: flex;
    flex-direction: row;
  }
}
@media (max-width: 500px) {
  #infoProfile #editPhoto {
    height: 25%;
  }
}
#infoProfile #editPhoto img {
  width: 90%;
  height: 340px;
  margin: 10% auto 10% 10%;
}
@media (max-width: 700px) {
  #infoProfile #editPhoto img {
    width: 250px;
    height: 250px;
    margin-right: 0;
  }
}
@media (max-width: 600px) {
  #infoProfile #editPhoto img {
    width: 200px;
    height: 200px;
  }
}
@media (max-width: 500px) {
  #infoProfile #editPhoto img {
    width: 160px;
    height: 160px;
  }
}
@media (max-width: 400px) {
  #infoProfile #editPhoto img {
    width: 130px;
    height: 130px;
    margin: 15px 0px 15px 15px;
  }
}

#infoProfile #editPhoto #infoProfile-editPhoto-buttons {
  display: flex;
  flex-direction: column;
}
#infoProfile #editPhoto button {
  margin: 20px 0 5px 0;
}
@media (max-width: 700px) {
  #infoProfile #editPhoto button {
    width: 100%;
    margin: 10px 0;
  }
}
@media (max-width: 500px) {
  #infoProfile #editPhoto button {
    margin: 5px 0;
  }
}
.input-file {
	position: relative;
	display: inline-block;
}
.input-file span {
	position: relative;
	display: inline-block;
	cursor: pointer;
	outline: none;
	text-decoration: none;
	font-size: 16px;
	vertical-align: middle;
	color: #ffffff;
	text-align: center;
	border-radius: 25px;
	background-color: #147298;
	line-height: 22px;
	height: 40px;
	padding: 10px 20px;
	box-sizing: border-box;
	border: none;
	margin: 0;
  width: 60%;
  left: 20%;
}
#infoProfile #editPhoto .input-file span:hover {
  background-color: #62b0cf;
}
.input-file input[type=file] {
	position: absolute;
	z-index: -1;
	opacity: 0;
	display: block;
	width: 0;
	height: 0;
}
@media (max-width: 700px) {
  #infoProfile #editPhoto .input-file{
    width: 150px;
    top: 30%;
    left: 15%;
  }
}
@media (max-width: 700px) {
  #infoProfile #editPhoto .input-file span{
    width: 100%;
    font-size: 14px;
  }
}
@media (max-width: 550px) {
  #infoProfile #editPhoto .input-file{
    width: 110px;
    top: 30%;
  }
}
@media (max-width: 550px) {
  #infoProfile #editPhoto .input-file span{
    font-size: 10px;
    left: 0;
  }
}
@media (max-width: 400px) {
  #infoProfile #editPhoto .input-file{
    width: 90px;
    top: 20%;
  }
}
@media (max-width: 400px) {
  #infoProfile #editPhoto .input-file span{
    font-size: 8px;
    padding: 5px 0px 0px 0px;
    height: 30px;
    left: 0;
  }
}
#infoProfile #editPhoto #bDelImg {
  font-size: 14px;
  background-color: #ffffff;
  border: #147298 solid 2px;
  color: #147298;
  width: 40%;
  min-width: 70px;
  max-width: 250px;
  height: 40px;
  border-radius: 25px;
  position: relative;
  left: 30%;
}
#infoProfile #editPhoto #bDelImg:hover {
  background-color: #dfdfdf;
  border: #0f4b99 solid 2px;
}
@media (max-width: 700px) {
  #infoProfile #editPhoto #bDelImg {
    width: 80px;
    top: 30%;
    left: 55%;
  }
}
@media (max-width: 550px) {
  #infoProfile #editPhoto #bDelImg {
    width: 65px;
    top: 30%;
    left: 30%;
    font-size: 10px;
  }
}
@media (max-width: 400px) {
  #infoProfile #editPhoto #bDelImg {
    width: 55px;
    top: 20%;
    left: 25%;
    font-size: 9px;
    height: 30px;
  }
}

#infoUser {
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: repeat(7, 80px);
  width: 60%;
  height: 90%;
  position: relative;
  top: 5%;
}
@media (max-width: 700px) {
  #infoUser {
    width: 100%;
    height: 85%;
    top: 0;
  }
}
@media (max-width: 550px) {
  #infoUser {
    grid-template-rows: repeat(7, 70px);
    gap: 10px;
  }
}
@media (max-width: 400px) {
  #infoUser {
    top: 0;
  }
}
#infoUser .infoUserValues {
  display: flex;
  flex-direction: column;
  margin: 5px 30px 10px 30px;
}
@media (max-width: 550px) {
  #infoUser .infoUserValues {
    margin: 0 5px;
  }
}
#infoUser .infoUserValues label {
  font-size: 16px;
  color: black;
}
@media (max-width: 700px) {
  #infoUser .infoUserValues label {
    font-size: 14px;
  }
}
@media (max-width: 550px) {
  #infoUser .infoUserValues label {
    font-size: 12px;
  }
}
#infoUser .infoUserValues input {
  background: transparent;
  border: none;
  border-bottom: 1px solid rgb(0, 0, 0);
}
#infoUser .infoUserValues input:hover {
  border-bottom: 3px solid rgb(0, 0, 0);
}
@media (max-width: 800px) {
  #infoUser .infoUserValues input {
    width: 90%;
  }
}
#infoUser #replacePas_Save {
  grid-row: 6/7;
  grid-column: 2/2;
  display: flex;
  flex-direction: column;
  align-items: end;
  height: 120px;
}
#infoUser #bReplacePas {
  font-size: 16px;
  color: #147298;
  margin: 20px 30px 10px 0;
}
@media (max-width: 550px) {
  #infoUser #bReplacePas {
    font-size: 12px;
  }
}
#infoUser #bSave {
  font-size: 16px;
  background-color: #147298;
  width: 60%;
  min-width: 120px;
  max-width: 350px;
  height: 40px;
  border-radius: 25px;
  position: relative;
  color: #fff;
  margin: 0 30px 0 0;
}
#infoUser #bSave:hover {
  background-color: #62b0cf;
  border: #0f4b99 solid 2px;
}
@media (max-width: 550px) {
  #infoUser #bSave {
    font-size: 12px;
  }
}