body {
	color: #8f8f8f;
	font: 12px Tahoma, sans-serif;
	background-color: #EDF5FB;
	border-top: 5px solid #7e7e7e;
	margin: 0;
}

#header-profile {
  background-color: #147298;
  height: 110px;
  width: 100%;

  @media (max-width: 600px) {
    height: 90px;
  }

  @media (max-width: 450px) {
    height: 80px;
  }

  #header-left_site {
    display: inline-block;
    height: 100%;
    margin-left: 30px;

    @media (max-width: 600px) {
      margin-left: 15px;
    }
  }

  a {
    text-decoration: none;
  }

  img {
    width: 25px;
    height: 25px;
    position: relative;
    top: 30%;

    @media (max-width: 600px) {
      width: 15px;
      height: 15px;
    }

    @media (max-width: 450px) {
      width: 10px;
      height: 10px;
    }
  }

  h1 {
    display: inline;
    color: #fff;
    margin-left: 30px;
    position: relative;
    top: 30%;

    @media (max-width: 600px) {
      font-size: 22px;
      margin-left: 15px;
    }

    @media (max-width: 450px) {
      font-size: 14px;
      margin-left: 10px;
    }
  }

  #header-mainInfo {
    width: 220px;
    display: flex;
    justify-content: center;
    float: right;
    flex-wrap: wrap;
    color: #fff;
    position: relative;
    top: 20%;
    right: 5%;

    @media (max-width: 600px) {
      width: 150px;
    }

    @media (max-width: 450px) {
      width: 120px;
    }

    p {
      font-size: 18px;
      font-weight: bold;
      margin: 5px;

      @media (max-width: 600px) {
        font-size: 12px;
        margin: 3px;
      }

      @media (max-width: 450px) {
        font-size: 10px;
      }
    }
  }
}

#infoProfile {
  display: flex;
  width: 86%;
  height: 74%;
  position: absolute;
  left: 7%;
  top: 170px;
  background-color: #fff;
  box-shadow: 14px 16px 9px -4px rgba(34, 60, 80, 0.34);

  @media (max-width: 700px) {
    flex-direction: column;
    height: 900px;
  }

  @media (max-width: 600px) {
    top: 130px
  }

  @media (max-width: 450px) {
    top: 100px
  }

  #editPhoto {
    width: 35%;
    height: 100%;
    display: flex;
    flex-direction: column;

    @media (max-width: 700px) {
      width: 100%;
      height: 50%;
      display: flex;
      flex-direction: row;
    }

    img {
      width: 90%;
      height: 340px;
      margin: 10% auto 10% 10%;

      @media (max-width: 700px) {
        width: 250px;
        height: 250px;
        margin-right: 0;
      }

      @media (max-width: 600px) {
        width: 200px;
        height: 200px;
      }

      @media (max-width: 500px) {
        width: 160px;
        height: 160px;
      }
    }

    #infoProfile-editPhoto-buttons {
      @media (max-width: 700px) {
        display: flex;
        flex-direction: column;
      }
    }

    button {
      margin: 20px 0 5px 0;

      @media (max-width: 700px) {
        width: 100%;
        margin: 10px 0;
      }

      @media (max-width: 500px) {
        margin: 5px 0;
      }
    }

    #bLoadImg {
      font-size: 16px;
      background-color: #147298;
      width: 60%;
      max-width: 350px;
      height: 40px;
      border-radius: 25px;
      position: relative;
      left: 20%;
      color: #fff;

      &:hover {
        background-color: #62b0cf;
        border: #0f4b99 solid 2px;
      }

      @media (max-width: 700px) {
        width: 150px;
        top: 30%;
        left: 30%;
      }

      @media (max-width: 550px) {
        width: 110px;
        top: 30%;
        left: 10%;
        font-size: 11px;
      }
    }

    #bDelImg {
      font-size: 14px;
      background-color: #ffffff;
      border: #147298 solid 2px;
      color: #147298;
      width: 40%;
      min-width: 70px;
      max-width: 250px;
      height: 40px;
      border-radius: 25px;
      position: relative;
      left: 30%;

      &:hover {
        background-color: #dfdfdf;
        border: #0f4b99 solid 2px;
      }

      @media (max-width: 700px) {
        width: 80px;
        top: 30%;
        left: 55%;
      }

      @media (max-width: 550px) {
        width: 65px;
        top: 30%;
        left: 30%;
        font-size: 10px;
      }
    }
  }
}

#infoUser {
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: repeat(7, 80px);
  width: 60%;
  height: 90%;
  position: relative;
  top: 5%;

  @media (max-width: 700px) {
    width: 100%;
    height: 85%;
    top: 0;
  }

  @media (max-width: 550px) {
    grid-template-rows: repeat(7, 70px);
    gap: 10px;
  }

  .infoUserValues {
    display: flex;
    flex-direction: column;
    margin: 5px 30px 10px 30px;

    @media (max-width: 550px) {
      margin: 0 5px;
    }

    label {
      font-size: 16px;
      color: black;

      @media (max-width: 700px) {
        font-size: 14px;
      }

      @media (max-width: 550px) {
        font-size: 12px;
      }
    }

    input {
      background: transparent;
      border: none; 
      border-bottom: 1px solid rgb(0, 0, 0); 

      &:hover {
        border-bottom: 3px solid rgb(0, 0, 0); 
      }

      @media (max-width: 800px) {
        width: 90%;
      }
    }
  }

  #replacePas_Save {
    grid-row: 6/7;
    grid-column: 2/2;
    display: flex;
    flex-direction: column;
    align-items: end;
    height: 120px;
  }
  
  #bReplacePas {
    font-size: 16px;
    color: #147298;
    margin: 20px 30px 10px 0;

    @media (max-width: 550px) {
      font-size: 12px;
    }
  }

  #bSave {
    font-size: 16px;
    background-color: #147298;
    width: 60%;
    min-width: 120px;
    max-width: 350px;
    height: 40px;
    border-radius: 25px;
    position: relative;
    color: #fff;
    margin: 0 30px 0 0;

    &:hover {
      background-color: #62b0cf;
      border: #0f4b99 solid 2px;
    }

    @media (max-width: 550px) {
      font-size: 12px;
    }
  }
}