#root-replacePas {
  height: 100%;
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 30px 0;
}

#mainForm {
  background-color: #fff;
  width: 35%;
  min-width: 150px;
  max-width: 480px;
  height: 400px;
  min-height: 200px;
  border: 1px solid #000000;
  border-radius: 5px;
  box-shadow: 14px 16px 9px -4px rgba(34, 60, 80, 0.34);
}
@media (max-width: 800px) {
  #mainForm {
    width: 45%;
  }
}
@media (max-width: 650px) {
  #mainForm {
    width: 55%;
  }
}
@media (max-width: 450px) {
  #mainForm {
    width: 65%;
  }
}
#mainForm #header-replacePas {
  background-color: #147298;
  color: #fff;
  height: 15%;
  position: relative;
  margin: 0;
  padding-top: 10px;
}
#mainForm #header-replacePas h2 {
  display: inline;
  margin: 0 auto 0 10px;
}
@media (max-width: 800px) {
  #mainForm #header-replacePas h2 {
    font-size: 22px;
  }
}
@media (max-width: 450px) {
  #mainForm #header-replacePas h2 {
    font-size: 18px;
  }
}
#mainForm #header-replacePas img {
  width: 20px;
  height: 20px;
  float: right;
  margin: 5px 10px auto auto;
}
@media (max-width: 800px) {
  #mainForm #header-replacePas img {
    width: 15px;
    height: 15px;
  }
}
#mainForm .textFields .repPas {
  height: 40px;
  width: 60%;
  position: relative;
  top: 5%;
  display: flex;
  flex-direction: column;
  margin: 20px auto 0 10px;
}
@media (max-width: 650px) {
  #mainForm .textFields .repPas {
    width: 75%;
  }
}
#mainForm .textFields .repPas input {
  background: transparent;
  border: none;
  border-bottom: 1px solid rgb(0, 0, 0);
  margin-top: 10px;
}
#mainForm .textFields .repPas input:hover {
  border-bottom: 3px solid rgb(0, 0, 0);
}
#mainForm #bSave {
  font-size: 16px;
  background-color: #147298;
  width: 50%;
  min-width: 120px;
  max-width: 400px;
  height: 40px;
  border-radius: 25px;
  position: relative;
  left: 25%;
  top: 20%;
  color: #fff;
  margin: 0 30px 0 0;
  cursor: pointer;
}

