.roll-in-left {
    -webkit-animation: roll-in-left 0.6s ease-out;
    animation: roll-in-left 0.6s ease-out;
}

@-webkit-keyframes roll-in-left {
    0% {
        -webkit-transform: translateX(150px) rotate(-180deg);
        transform: translateX(150px) rotate(-180deg);
        opacity: 0;
    }

    100% {
        -webkit-transform: translateX(0) rotate(0deg);
        transform: translateX(0) rotate(0deg);
        opacity: 1;
    }
}

@keyframes roll-in-left {
    0% {
        -webkit-transform: translateX(150px) rotate(-180deg);
        transform: translateX(150px) rotate(-180deg);
        opacity: 0;
    }

    100% {
        -webkit-transform: translateX(0) rotate(0deg);
        transform: translateX(0) rotate(0deg);
        opacity: 1;
    }
}

@media (max-width:900px)  {
    .fade-in {
            -webkit-animation: fade-in 0.4 ease-out 0.6s both;
            animation: fade-in 0.4s ease-out 0.6s both;
        }
}

@-webkit-keyframes fade-in {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes fade-in {
    0% {
        opacity: 0
    }

    100% {
        opacity: 1;
    }
}