@import "./chat.css";
@import "./main_block.css";
@import "./nav_panel.css";

#edit_popup_window {
    width: 800px;
    margin: 0 auto;
    height: 1000px;
}


label {
    float: left;
    width: 60px;
    padding-right: 50px;
    flex: none;
}

button{
    background-color: #FFF;
    border-radius: 5px ;
    border-width: 0.5px;
    height: 24px;
    color: #5096FF;
    margin-right: 1px;
    margin-left: 1px;
    padding-top: 4px;
    padding-bottom: 4px;
}

button:hover {
    text-decoration: underline;
}


input {
    border-radius: 8px;
    border-width: 0.5px;
    height: 20px;
    width: 100px;
}

textarea{
    resize: none;
    border-radius: 8px;
    overflow:hidden;
}


p{
    margin: 4px 0;
}

