@import 'muiAddDirectory.scss'; // Импортируем уже созданные стили

.form-create-object {
  display: flex;
  flex-direction: column;

  label {
    margin-top: 10px;
  }

  input, select, textarea {
    padding: 8px;
    margin-top: 4px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 100%;
  }

  textarea {
    resize: vertical;
  }

  .attachments {
    margin-top: 10px;
    display: flex;
    align-items: center;
    .add-attachment-button {
      background-color: #5b9bd5; // Цвет кнопки как на изображении
      color: white;
      border: none;
      padding: 10px;
      border-radius: 50%; // Круглая кнопка
      cursor: pointer;
      font-size: 24px;
      line-height: 24px;
      text-align: center;
      width: 34px;
      height: 34px;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }

  .attachment-name {
    margin-top: 5px;
    font-size: 0.9em; // Меньший шрифт для имен файлов
  }
}
