/* Кожевников СЮ  анимация  */
.p-creasy-text span {
    position: relative;
    top: 10px;
    display: inline-block;
    animation: bounce .5s ease infinite alternate;
    font-size: 14px;
    color: rgb(243, 206, 23);
    -webkit-text-stroke: 0.5px red;
    text-shadow: 0 1px 0 #d2cece,
    0 2px 0 #d2cece,
    0 3px 0 #d2cece,
    0 4px 0 #d2cece,
    0 5px 0 #d2cece,
    0 6px 0 transparent,
    0 7px 0 transparent,
    0 8px 0 transparent,
    0 9px 0 transparent,
  
    0 14px 10px rgba(0, 0, 0, .4);
  }
  
  .p-creasy-text span:nth-child(2) { animation-delay: .1s; }
  .p-creasy-text span:nth-child(3) { animation-delay: .2s; }
  .p-creasy-text span:nth-child(4) { animation-delay: .3s; }
  .p-creasy-text span:nth-child(5) { animation-delay: .4s; }
  .p-creasy-text span:nth-child(6) { animation-delay: .5s; }
  .p-creasy-text span:nth-child(7) { animation-delay: .6s; }
  .p-creasy-text span:nth-child(8) { animation-delay: .7s; }
  .p-creasy-text span:nth-child(9) { animation-delay: .8s; }
  .p-creasy-text span:nth-child(10) { animation-delay: .9s; }

  @keyframes bounce {
    100% {
    top: -5px;
    text-shadow: 0 0.5px 0 #CCC,
    0 2px 0 #CCC,
    0 3px 0 #CCC,
    0 4px 0 #CCC,
    0 5px 0 #CCC,
    0 6px 0 #CCC,
    0 7px 0 #CCC,
    0 8px 0 #CCC,
    0 9px 0 #CCC,
    0 50px 25px rgba(0, 0, 0, .2);
    }
  }


