.square-1 {
  color: rgb(1, 255, 0);
}

.square-2 {
  color: rgb(2, 254, 0);
}

.square-3 {
  color: rgb(3, 253, 0);
}

.square-4 {
  color: rgb(4, 252, 0);
}

.square-5 {
  color: rgb(5, 251, 0);
}

.square-6 {
  color: rgb(6, 250, 0);
}

.square-7 {
  color: rgb(7, 249, 0);
}

.square-8 {
  color: rgb(8, 248, 0);
}

.square-9 {
  color: rgb(9, 247, 0);
}

.square-10 {
  color: rgb(10, 246, 0);
}

.square-11 {
  color: rgb(11, 245, 0);
}

.square-12 {
  color: rgb(12, 244, 0);
}

.square-13 {
  color: rgb(13, 243, 0);
}

.square-14 {
  color: rgb(14, 242, 0);
}

.square-15 {
  color: rgb(15, 241, 0);
}

.square-16 {
  color: rgb(16, 240, 0);
}

.square-17 {
  color: rgb(17, 239, 0);
}

.square-18 {
  color: rgb(18, 238, 0);
}

.square-19 {
  color: rgb(19, 237, 0);
}

.square-20 {
  color: rgb(20, 236, 0);
}

.square-21 {
  color: rgb(21, 235, 0);
}

.square-22 {
  color: rgb(22, 234, 0);
}

.square-23 {
  color: rgb(23, 233, 0);
}

.square-24 {
  color: rgb(24, 232, 0);
}

.square-25 {
  color: rgb(25, 231, 0);
}

.square-26 {
  color: rgb(26, 230, 0);
}

.square-27 {
  color: rgb(27, 229, 0);
}

.square-28 {
  color: rgb(28, 228, 0);
}

.square-29 {
  color: rgb(29, 227, 0);
}

.square-30 {
  color: rgb(30, 226, 0);
}

.square-31 {
  color: rgb(31, 225, 0);
}

.square-32 {
  color: rgb(32, 224, 0);
}

.square-33 {
  color: rgb(33, 223, 0);
}

.square-34 {
  color: rgb(34, 222, 0);
}

.square-35 {
  color: rgb(35, 221, 0);
}

.square-36 {
  color: rgb(36, 220, 0);
}

.square-37 {
  color: rgb(37, 219, 0);
}

.square-38 {
  color: rgb(38, 218, 0);
}

.square-39 {
  color: rgb(39, 217, 0);
}

.square-40 {
  color: rgb(40, 216, 0);
}

.square-41 {
  color: rgb(41, 215, 0);
}

.square-42 {
  color: rgb(42, 214, 0);
}

.square-43 {
  color: rgb(43, 213, 0);
}

.square-44 {
  color: rgb(44, 212, 0);
}

.square-45 {
  color: rgb(45, 211, 0);
}

.square-46 {
  color: rgb(46, 210, 0);
}

.square-47 {
  color: rgb(47, 209, 0);
}

.square-48 {
  color: rgb(48, 208, 0);
}

.square-49 {
  color: rgb(49, 207, 0);
}

.square-50 {
  color: rgb(50, 206, 0);
}

.square-51 {
  color: rgb(51, 205, 0);
}

.square-52 {
  color: rgb(52, 204, 0);
}

.square-53 {
  color: rgb(53, 203, 0);
}

.square-54 {
  color: rgb(54, 202, 0);
}

.square-55 {
  color: rgb(55, 201, 0);
}

.square-56 {
  color: rgb(56, 200, 0);
}

.square-57 {
  color: rgb(57, 199, 0);
}

.square-58 {
  color: rgb(58, 198, 0);
}

.square-59 {
  color: rgb(59, 197, 0);
}

.square-60 {
  color: rgb(60, 196, 0);
}

.square-61 {
  color: rgb(61, 195, 0);
}

.square-62 {
  color: rgb(62, 194, 0);
}

.square-63 {
  color: rgb(63, 193, 0);
}

.square-64 {
  color: rgb(64, 192, 0);
}

.square-65 {
  color: rgb(65, 191, 0);
}

.square-66 {
  color: rgb(66, 190, 0);
}

.square-67 {
  color: rgb(67, 189, 0);
}

.square-68 {
  color: rgb(68, 188, 0);
}

.square-69 {
  color: rgb(69, 187, 0);
}

.square-70 {
  color: rgb(70, 186, 0);
}

.square-71 {
  color: rgb(71, 185, 0);
}

.square-72 {
  color: rgb(72, 184, 0);
}

.square-73 {
  color: rgb(73, 183, 0);
}

.square-74 {
  color: rgb(74, 182, 0);
}

.square-75 {
  color: rgb(75, 181, 0);
}

.square-76 {
  color: rgb(76, 180, 0);
}

.square-77 {
  color: rgb(77, 179, 0);
}

.square-78 {
  color: rgb(78, 178, 0);
}

.square-79 {
  color: rgb(79, 177, 0);
}

.square-80 {
  color: rgb(80, 176, 0);
}

.square-81 {
  color: rgb(81, 175, 0);
}

.square-82 {
  color: rgb(82, 174, 0);
}

.square-83 {
  color: rgb(83, 173, 0);
}

.square-84 {
  color: rgb(84, 172, 0);
}

.square-85 {
  color: rgb(85, 171, 0);
}

.square-86 {
  color: rgb(86, 170, 0);
}

.square-87 {
  color: rgb(87, 169, 0);
}

.square-88 {
  color: rgb(88, 168, 0);
}

.square-89 {
  color: rgb(89, 167, 0);
}

.square-90 {
  color: rgb(90, 166, 0);
}

.square-91 {
  color: rgb(91, 165, 0);
}

.square-92 {
  color: rgb(92, 164, 0);
}

.square-93 {
  color: rgb(93, 163, 0);
}

.square-94 {
  color: rgb(94, 162, 0);
}

.square-95 {
  color: rgb(95, 161, 0);
}

.square-96 {
  color: rgb(96, 160, 0);
}

.square-97 {
  color: rgb(97, 159, 0);
}

.square-98 {
  color: rgb(98, 158, 0);
}

.square-99 {
  color: rgb(99, 157, 0);
}

.square-100 {
  color: rgb(100, 156, 0);
}
