dialog {  
    display: block;
    inset: 0;
    z-index: var(--layer-important);
    max-inline-size: min(90vw, var(--size-content-3));
    max-block-size: min(80vh, 100%);
    overflow: hidden;
    transition: opacity .5s;
    animation: var(--animation-scale-down) forwards;
    animation-timing-function: var(--ease-squish-3);
    border-radius: 0.5rem;
    padding: 0;
    border: solid 1px #ccc;
    box-shadow: 0 0 2rem 0 rgba(0, 0, 0, 0.5);
  
}

/* Backdrop is only displayed when dialog is opened with dialog.showModal() */
dialog::backdrop {
  background: rgb(6 6 7 / 75%);
  backdrop-filter: blur(0.25rem);
}

dialog[open] {
    animation: var(--animation-slide-in-up) forwards;
}

dialog:not([open]) {
    pointer-events: none;
    opacity: 0;
}

dialog article {
    padding: 0 2rem;
}

dialog header {
    margin: 0;
    background-color: #f3f3f3;
    padding: 1rem 2rem;
}

dialog footer {
    display: flex;
    justify-content: flex-end;
    padding: 1rem 2rem;
}

dialog header h3 {
    margin: 0;
}
